Source: libssh
Version: 0.9.3
Homepage: https://www.libssh.org/
Description: libssh is a multiplatform C library implementing the SSHv2 protocol on client and server side
Default-Features: crypto

Feature: crypto
Build-Depends: libssh[openssl]
Description: Default crypto backend

Feature: openssl
Build-Depends: openssl
Description: Crypto support (OpenSSL)

Feature: mbedtls
Build-Depends: mbedtls
Description: Crypto support (mbedTLS)

Feature: zlib
Description: libssh with zlib
Build-Depends: zlib
